.details .card-holder {
  margin: 10px auto;
}

.details {
  width: 100%;
}

.details .card-holder p {
  height: auto;
}

.details .card-holder h5 {
  height: auto;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.details .price {
  background-color: #7895b2;
  padding: 10px 15px;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .details .price {
    font-size: 0.8rem;
  }
}
